<div class="container">
  <header class="page-header">
    <h1>Confckurator</h1>
    <a class="btn btn-primary" href="../swagger/index.html">API</a>
  </header>
  <article>
    <ngb-tabset>
      <ngb-tab title="Packs">
        <ng-template ngbTabContent>
          <app-packs></app-packs>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Templates">
        <ng-template ngbTabContent>
          <app-templates></app-templates>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </article>
</div>
