<div class="list-group">
  <div class="list-group-item" *ngFor="let template of templates">
    <h4 class="list-group-item-heading">
      [#{{ template.id }}] {{ template.name }}
    </h4>
    <div class="list-group-item-text">
      <a href="#" (click)="templatesVisible[template.id] = !templatesVisible[template.id]">
        <h4>
          <span class="fa"
                [ngClass]="{'fa-plus-square': !templatesVisible[template.id], 'fa-minus-square': templatesVisible[template.id]}"></span>
          Variables
        </h4>
      </a>
      <div [ngbCollapse]="!templatesVisible[template.id]">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let variable of template.variables">
            <td>{{ variable.id }}</td>
            <td>{{ variable.name }}</td>
            <td>{{ variable.description }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
