<ngb-accordion #acc="ngbAccordion">
  <ngb-panel *ngFor="let templateInfo of infos">
    <ng-template ngbPanelTitle>
      [#{{ templateInfo.template.id }}] {{ templateInfo.template.name }}
    </ng-template>
    <ng-template ngbPanelContent>
      <ngb-alert type="danger" *ngIf="templateInfo.errorMessage != null" (close)="templateInfo.errorMessage = null">
        <strong>Whoops.</strong>
        {{templateInfo.errorMessage}}
      </ngb-alert>

      <h4>Variables</h4>
      <div [formGroup]="templateInfo.variablesForm">
        <div formArrayName="variables">
          <div class="row" *ngFor="let variable of templateInfo.variablesList.controls; let i = index">
            <div class="col-4 form-inline" [formGroupName]="i">
              <div (click)="templateInfo.removeVariable(i)" class="btn btn-default input-group-addon">
                <span class="fa fa-trash"></span>
              </div>
              <input type="text" class="form-control" placeholder="Name" formControlName="name" title="Name"
                     [ngClass]="{'is-invalid': variable.controls.name.invalid}">
            </div>
            <div class="col" [formGroupName]="i">
              <input type="text" class="form-control" placeholder="Description" formControlName="description"
                     title="Description"
                     [ngClass]="{'is-invalid': variable.controls.description.invalid}">
            </div>
          </div>
        </div>
      </div>
      <a (click)="templateInfo.addVariable()" class="btn btn-primary">
        <span class="fa fa-plus-square"></span> Add Variable
      </a>

      <h4>Template</h4>
      <codemirror [config]="{lineNumbers:true, mode:'jinja2', matchBrackets:true, highlightSelectionMatches:true}" [(ngModel)]="templateInfo.code"></codemirror>

      <a (click)="templateInfo.save()" class="btn btn-success">
        <span class="fa fa-save"></span> Save
      </a>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
