<div class="list-group" data-ng-controller="PackController as packController">
    <div class="list-group-item" data-ng-repeat="pack in packController.packs">
        <h4 class="list-group-item-heading">
            [#{{ pack.id }}] {{ pack.name }}
        </h4>
        <div class="list-group-item-text">
            Values:
            <ul>
                <li data-ng-repeat="value in pack.values">
                    variable_id={{ value.variable_id }},
                    environment_id={{ value.environment_id }},
                    pack_id={{ value.pack_id }}
                </li>
            </ul>
        </div>
    </div>
</div>
