<ngx-datatable [rows]="environments" [rowHeight]="'auto'" headerHeight="0" [footerHeight]="50" [columnMode]="'flex'"
               class="material">
  <ngx-datatable-column [flexGrow]="1">
    <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
      <mat-form-field style="width:100%">
        <button mat-icon-button matPrefix color="warn" (click)="removeEnvironment(rowIndex)" [disabled]="row.in_use">
          <span class="fa fa-trash"></span>
        </button>
        <input matInput
               title="Name"
               [(ngModel)]="row.name"
               [formControl]="nameValidators[rowIndex]">
        <mat-error *ngIf="!nameValidators[rowIndex].valid">
          Please make sure that the environment name is not empty and contains no slashes.
        </mat-error>
        <button mat-icon-button matSuffix (click)="updateEnvironment(rowIndex)" *ngIf="nameValidators[rowIndex].dirty && nameValidators[rowIndex].valid">
          <span class="fa fa-save"></span>
        </button>
      </mat-form-field>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-footer>
    <ng-template ngx-datatable-footer-template>
      <button mat-raised-button color="primary" (click)="addEnvironment()">
        <span class="fa fa-plus-square"></span> Add Environment
      </button>
    </ng-template>
  </ngx-datatable-footer>
</ngx-datatable>
