<ngb-alert type="danger" *ngIf="errorMessage != null" (close)="errorMessage = null">
  <strong>Whoops.</strong>
  {{errorMessage}}
</ngb-alert>

<ngb-alert type="primary" [dismissible]="false">
  <span class="fa fa-warning"></span>
  Names are saved when leaving the input field or pressing enter.
  <small>Yes, this isn't nice, but it works, and will be improved later.</small>
</ngb-alert>

<ngx-datatable [rows]="environments" [rowHeight]="'auto'" class="bootstrap">
  <ngx-datatable-column name="">
    <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
      <span *ngIf="!row.in_use" class="fa fa-trash" (click)="removeEnvironment(rowIndex)"></span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Name">
    <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
      <input type="text" placeholder="Name" title="Name"
             (keyup.enter)="updateEnvironment(rowIndex)" (focusout)="updateEnvironment(rowIndex)"
             [(ngModel)]="row.name">
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>

<a (click)="addEnvironment()" class="btn btn-primary">
  <span class="fa fa-plus-square"></span> Add Environment
</a>
