<div *ngIf="pack">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let instance of pack.instances; index as rowIndex">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-form-field>
            <button mat-icon-button matPrefix color="warn" (click)="removeInstance(rowIndex)">
              <span class="fa fa-trash"></span>
            </button>
            <input matInput type="text" [(ngModel)]="instance.name" title="Name">
          </mat-form-field>
        </mat-panel-title>
        <mat-panel-description>
          <mat-form-field>
            <mat-select title="Template" [(value)]="instance.template_id">
              <mat-option *ngFor="let template of templates" [value]="template.id">
                {{template.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ngx-datatable [rows]="instance.values" [rowHeight]="'auto'" class="material">
        <ngx-datatable-column name="Variable">
          <ng-template let-value="row" ngx-datatable-cell-template>
            {{value.variable_name}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Environment">
          <ng-template let-value="row" ngx-datatable-cell-template>
            <mat-select title="Environment" [(value)]="value.environment_id">
              <mat-option [value]="-1">
                <span style="font-style: italic;">None</span>
              </mat-option>
              <mat-option *ngFor="let environment of environments" [value]="environment.id">
                {{environment.name}}
              </mat-option>
            </mat-select>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Data">
          <ng-template let-value="row" ngx-datatable-cell-template>
            {{value.data}}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </mat-expansion-panel>
  </mat-accordion>
  <button mat-raised-button color="primary" (click)="addInstance()">
    <span class="fa fa-plus-square"></span> Add Instance
  </button>
</div>
