<div *ngIf="template">
  <h4>Variables</h4>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let variable of template.variables; let i = index">
      <mat-expansion-panel-header>
        <mat-form-field style="width: 100%">
          <button mat-icon-button matPrefix color="warn" [disabled]="variable.in_use" (click)="removeVariable(i)">
            <span class="fa fa-trash"></span>
          </button>
          <input matInput type="text" title="Name" [(ngModel)]="variable.name" required>
          <mat-error *ngIf="invalidVariable(variable.name)">
            The variable name may only have a letter or an underscore at the beginning. Numbers are allowed after that, too.
            (In other words, make sure it matches the regular expression ^[a-zA-Z_][a-zA-Z0-9_]*$.)
          </mat-error>
        </mat-form-field>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <mat-form-field style="width: 100%">
          <input matInput type="text" placeholder="Description" title="Description" [(ngModel)]="variable.description">
        </mat-form-field>
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>

  <button mat-raised-button color="primary" (click)="addVariable()">
    <span class="fa fa-plus-square"></span> Add Variable
  </button>

  <h4>Template</h4>
  <codemirror [config]="{lineNumbers:true, mode:'jinja2', matchBrackets:true, highlightSelectionMatches:true}"
              [(ngModel)]="code"></codemirror>

  <button mat-raised-button color="success" (click)="save()">
    <span class="fa fa-save"></span> Save
  </button>
</div>
