<div *ngIf="template">
  <h4>Variables</h4>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let variable of template.variables; let i = index">
      <mat-expansion-panel-header>
        <button mat-icon-button matPrefix color="warning" [disabled]="!variable.in_use" (click)="removeVariable(i)">
          <span class="fa fa-trash"></span>
        </button>
        <input matInput type="text" placeholder="Name" title="Name" [(ngModel)]="variable.name">
      </mat-expansion-panel-header>
      <mat-panel-description>
        <input matInput type="text" placeholder="Description" title="Description" [(ngModel)]="variable.description">
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>

  <button mat-raised-button color="primary" (click)="addVariable()">
    <span class="fa fa-plus-square"></span> Add Variable
  </button>

  <h4>Template</h4>
  <codemirror [config]="{lineNumbers:true, mode:'jinja2', matchBrackets:true, highlightSelectionMatches:true}"
              [(ngModel)]="code"></codemirror>

  <button mat-raised-button color="success" (click)="save()">
    <span class="fa fa-save"></span> Save
  </button>
</div>

